/* الصفحة الرئيسية */
.home{
    min-height:100vh;
    display:flex;
    align-items:center;
    padding-top:100px;
}

.home-content{
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:60px;
}

.home-text{
    flex:1;
}

.home-text h1{
    font-size:64px;
    margin-bottom:10px;
}

.home-text h1 span{
    color:#00bfff;
}

.home-text h2{
    font-size:35px;
    color:#00bfff;
    margin-bottom:20px;
}

.home-text p{
    font-size:20px;
    color:#cfcfcf;
    margin-bottom:30px;
    line-height:1.8;
}

.home-image{
    flex:1;
    display:flex;
    justify-content:center;
}

.home-image img{
    width:320px;
    height:320px;
    object-fit:cover;
    border-radius:50%;
    border:6px solid #00bfff;
    box-shadow:0 0 35px rgba(0,191,255,.5);
}

.btn{
    display:inline-block;
    padding:14px 32px;
    margin:10px;
    background:#00bfff;
    color:#fff;
    text-decoration:none;
    border-radius:10px;
    transition:.3s;
}

.btn:hover{
    background:#0099dd;
    transform:translateY(-3px);
}

.btn-outline{
    background:transparent;
    border:2px solid #00bfff;
}

.btn-outline:hover{
    background:#00bfff;
}
